body {
    background: #9dc4fb;
    padding: 5rem 0rem;
}
.container {
    background: #02044a;
    color: white;
}
h1 {
    color: rgb(253, 251, 251);
}
ul {
    list-style: none;
    margin: 1rem 0;
    /* background: red; */
    /* height: 100%; */
}
.contact li {
    margin-bottom: 1rem;
    padding: 1rem 0 1rem 1rem;
    border: 1px solid #02044a;
    transition: all 0.1s ease-in-out;
    /* background: red; */
}
.contact li:hover {
    cursor: pointer;
    background: #030d59;
    border: 1px solid #1f6fea;
    border-radius: 2px;
}
.div-container {
    border-radius: 0.5rem;
    height: 60vh;
}
.row {
    font-family: "Poppins", sans-serif;
}
.form-div {
    background: white;
    color: black;
    border-radius: 0.5rem;
    /* font-family: "Poppins", sans-serif; */
}
.contact-info {
    /* background: red; */
    color: rgb(212, 210, 210);
}
.font-small {
    font-size: 1.1rem;
}

.socmed li {
    font-size: 1.5rem;
    margin: 0 1.2rem;
    border-radius: 100%;
    padding: 0.4rem 0.9rem;
    transition: all 0.1s ease-in-out;
}
.socmed li:hover {
    background: #0c75ff;
}
